<div layout="column" layout-align="center" layout-fill>


  <div layout="row" layout-align="center" flex="80">
    <!--entity="EUsers" keys="USER_"-->
     <!---->
    <!--<dynamicforms-data-form #oForm layout="column"
      query-on-init="false"
      entity="EData"
      keys="DATA_ID;FORM_VERSION_ID"
      parent-keys="FORM_VERSION_ID:VERSION_ID"
      show-header="yes"
      header-mode="none"
      label-header=""
      header-actions=""
      columns="FORM_VERSION_ID;DATA_ID"
      flex="75" class="md-whiteframe-4dp">

      <div layout="column">
        <o-dynamic-form attr="JSON" entity="EDynamicFormsVersions" keys="VERSION_ID"></o-dynamic-form>
      </div>
    </dynamicforms-data-form>-->



    <dynamicforms-data-form #oForm layout="column" query-on-init="false" entity="EData"
      keys="DATA_ID;FORM_VERSION_ID" show-header="yes"
      header-mode="none" label-header="" header-actions="R"
      columns="DATA_ID;CREATION_DATE;LAST_MODIFICATION_DATE;FORM_VERSION_ID;DYNAMIC_DATA"
      flex="75" class="md-whiteframe-4dp"
      (onFormDataLoaded)="onFormDataLoaded($event)">

      <div layout="column">
        <o-dynamic-form #dynamicForm automatic-binding="no" query-on-init="true" attr="JSON"
          entity="EDynamicFormsVersions" keys="VERSION_ID"
          (render)="onDynamicFormDataLoaded($event)">
        </o-dynamic-form>
      </div>
    </dynamicforms-data-form>

  </div>
</div>