.dynamicforms-data {
  display: block;
  height: 100%;

  dynamicforms-data-form.o-form {
    ng-host {
      height: calc(100% - 66px);

      form,
      form .o-form-content-wrapper {
        height: 100%;
        overflow: auto;
      }
    }
  }
}
