<div layout="column" layout-align="center" layout-fill>

  <div layout="row" layout-align="center" flex="80">

    <dynamicform-detail-form #oForm layout="column" entity="EDynamicFormsVersions"
      keys="VERSION_ID" show-header="yes" header-mode="none"
      label-header=""
      header-actions="R" flex="75" class="md-whiteframe-4dp"
      (onFormDataLoaded)="onFormDataLoaded($event)">


      <div layout="column">
        <o-dynamic-form query-on-init="false" #oDynamicForm attr="JSON" automatic-binding="no"
          (render)="onDynamicFormDataLoaded($event)">
        </o-dynamic-form>
      </div>

    </dynamicform-detail-form>

  </div>
</div>