<div fxLayout="column" fxLayoutAlign="center" fxFlexFill>
  <o-table #table fxFlexFill title="DATA" columns="DATA_ID;CREATION_DATE;LAST_MODIFICATION_DATE;FORM_VERSION_ID;FORM_NAME;FORM_DESCRIPTION"
    visible-columns="FORM_NAME;FORM_DESCRIPTION;CREATION_DATE;LAST_MODIFICATION_DATE" entity="EData" keys="DATA_ID"
    row-height="small" pageable="no" pagination-controls="no" insert-button="no" sort-columns="LAST_MODIFICATION_DATE:desc">
    <!-- ;FORM_VERSION_ID -->
    <o-table-column attr="CREATION_DATE" title="CREATION_DATE" type="date" format="LLL"></o-table-column>
    <o-table-column attr="LAST_MODIFICATION_DATE" title="LAST_MODIFICATION_DATE" type="date" format="LLL"></o-table-column>
    <!-- <o-table-column attr="FORM_VERSION_ID" title="FORM_VERSION_ID" orderable="no" width="10%" class="o-table-column-centered"></o-table-column> -->

  </o-table>
</div>