.dynamicforms-detail {
  height: 100%;

  > .o-form {

    ng-host {
      form.inner-form,
      form.inner-form .o-form-content-wrapper {
        height: 100%;
      }
    }
  }

  .mat-tab-label {
    min-width: 48px;
    // width: 20px;
    width: 84px;
    .mat-tab-label-content {
      font-size: 12px;
    }
  }
}
