<!-- <div fxLayout="column" fxLayoutAlign="center" fxFlexFill> -->
<o-form-container breadcrumb="no" breadcrumb-label-columns="VERSION_NAME" fxFlexFill>
  <div fxLayout="column" fxLayoutAlign="center top" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="90" class="detail-form-container">

      <dynamicform-detail-form #oForm fxLayout="column" entity="EDynamicFormsVersions" keys="VERSION_ID" show-header="yes" header-mode="none"
        label-header="" header-actions="R;U" fxFlex="85" class="mat-elevation-z4" (onFormDataLoaded)="onFormDataLoaded($event)"
        editable-detail="false" columns="VERSION_NAME">

        <div fxLayout="column">
          <o-dynamic-form query-on-init="false" #oDynamicForm attr="JSON" automatic-binding="no" (render)="onDynamicFormDataLoaded($event)">
          </o-dynamic-form>
        </div>

      </dynamicform-detail-form>



    </div>

    <div fxLayout="row" fxLayoutAlign="center" fxFlex="90" style="margin-top: 64px;">
      <td> {{ jsonData | json }} </td>
    </div>
  </div>
</o-form-container>