<div fxLayoutAlign="center top" fxFill>
  <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="90">

    <dynamicform-detail-form #oForm entity="EDynamicFormsVersions" keys="VERSION_ID" header-actions="R;U" editable-detail="no" columns="VERSION_NAME"
      (onFormDataLoaded)="onFormDataLoaded($event)" class="mat-elevation-z4" fxFlex="85">

      <o-dynamic-form attr="JSON" parent-keys="VERSION_ID:VERSION_ID" query-on-init="no" automatic-binding="no"
        (render)="onDynamicFormDataLoaded($event)" fxFill></o-dynamic-form>

    </dynamicform-detail-form>

  </div>
</div>
