.dynamicforms-detail {
  height: 100%;

  > .o-form {
    ng-host {
      display: flex;
      height: 100%;

      form.inner-form,
      form.inner-form .o-form-content-wrapper {
        height: 100%;
      }
    }

    > ng-host > div > form > .o-form-content-wrapper {
      padding: 0;
    }
  }
}
