<o-form #oForm fxFlex
  entity="EDynamicForms" 
  keys="VERSION_ID"
  columns="VERSION_ID;JSON" 
  insert-method="insertDynamicForm"
  show-header="no">

  <o-dynamic-form-builder fxFlex 
    attr="JSON"
    edit-mode="yes" 
    #oDynamicFormBuilder>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="36px" class="o-dynamic-form-builder-header">
      <o-text-input attr="FORM_NAME"></o-text-input>
      <o-text-input attr="FORM_DESCRIPTION" fxFlex="60"></o-text-input>
    </div>

  </o-dynamic-form-builder>

</o-form>