dynamicforms-new-form {
  ng-host {
    flex: 1 1 100%;
  }

  form {
    //     overflow: auto;
    height: calc(100% - 50px);

    .o-form-content-wrapper {
      height: 100%;
      //       padding: 0;
    }
  }
}
